# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
/node_modules
npm-debug.log

# type script artifacts
/typings

# WebStorm
.idea

# ignore build and dist for now
/build
/dist

/demo/**/*.js
/demo/**/*.d.ts
/demo/**/*.js.map
/components/**/*.js
/components/**/*.d.ts
/components/**/*.js.map
ng2-file-upload.js
ng2-file-upload.d.ts
ng2-file-upload.js.map
/logs

!/demo/components/file-upload/file-catcher.js
